/* General Styles */
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  text-align: center;
}

/* Header Styles */
header {
  background-color: #000000;
  padding: 2px 0;
}

.logo {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  height: auto;
}

nav {
  text-align: left;
  margin-top: 10px;
}

nav ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Content Styles */
.content {
  padding: 50px 0;
}

h1 {
  font-size: 4em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
}

/* Button Styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}

/* Footer Styles */
footer {
  background-color: #000;
  padding: 20px 0;
  text-align: center;
}

/* Image Styles */
.image {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  nav {
    text-align: center;
  }

  nav li {
    display: block;
    margin-left: 0;
    margin-bottom: 10px;
  }
}